<%- include('../layouts/header'); %>

<div class="container mt-5">
    <h2 class="text-center mb-4">Lọc Giao Dịch</h2>

    <div class="mb-4">
        <label for="functionSelect" class="form-label">Chọn Chức Năng</label>
        <select id="functionSelect" class="form-select" name="function" required>
            <option value="" selected disabled>Chọn chức năng...</option>
            <option value="transactionTable">Hiển thị Bảng Giao Dịch</option>
            <option value="totalAmountByDay">Thống Kê Tổng Số Tiền Nhận Được Theo Ngày</option>
            <option value="transactionCountByAmount">Thống Kê Số Lượng Giao Dịch Dựa Theo Số Tiền Chuyển Khoản</option>
        </select>
    </div>

    <div id="filterFormContainer" style="display: none;">

          <%- include('./form/filterForm'); %>
    </div>

    <div id="totalAmountContainer" style="display: none;">
        <%- include('./form/totalAmountByDay'); %>
    </div>

    <!-- Div để chứa thống kê số lượng giao dịch dựa theo số tiền -->
    <div id="transactionCountContainer" style="display: none;">
        <%- include('./form/transactionCountByAmount'); %>
    </div>
</div>

<%- include('../layouts/footer'); %>

<script>
    const savedFunction = localStorage.getItem('selectedFunction');
    if (savedFunction) {
        document.getElementById('functionSelect').value = savedFunction;
        document.getElementById('selectedFunction').value = savedFunction;
        document.getElementById('filterFormContainer').style.display = savedFunction === 'transactionTable' ? 'block' : 'none';
        document.getElementById('totalAmountContainer').style.display = savedFunction === 'totalAmountByDay' ? 'block' : 'none';
        document.getElementById('transactionCountContainer').style.display = savedFunction === 'transactionCountByAmount' ? 'block' : 'none'; 
    }

    // Lắng nghe sự kiện khi người dùng thay đổi lựa chọn
    document.getElementById('functionSelect').addEventListener('change', function () {
        const selectedFunction = this.value;
        const filterFormContainer = document.getElementById('filterFormContainer');
        const totalAmountContainer = document.getElementById('totalAmountContainer');
        const transactionCountContainer = document.getElementById('transactionCountContainer'); 

        // Cập nhật giá trị của input hidden
        document.getElementById('selectedFunction').value = selectedFunction;

        // Hiển thị form tương ứng
        filterFormContainer.style.display = selectedFunction === 'transactionTable' ? 'block' : 'none';
        totalAmountContainer.style.display = selectedFunction === 'totalAmountByDay' ? 'block' : 'none';
        transactionCountContainer.style.display = selectedFunction === 'transactionCountByAmount' ? 'block' : 'none'; 

        // Lưu giá trị đã chọn vào localStorage
        localStorage.setItem('selectedFunction', selectedFunction);
    });
</script>
