<%- include('../layouts/header'); %>

<h1>Statistics Page</h1>
    <p>Total Credit: <%= totalCredit %> ₫</p>

    <!-- Bảng hiển thị dữ liệu giao dịch -->
    <table>
        <tr>
            <th>ID</th>
            <th>Date Time</th>
            <th>Trans No</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Detail</th>
        </tr>
        <% dataResults.forEach(function(result) { %>
            <tr>
                <td><%= result.id %></td>
                <td><%= result.date_time %></td>
                <td><%= result.trans_no %></td>
                <td><%= result.credit %></td>
                <td><%= result.debit %></td>
                <td><%= result.detail %></td>
            </tr>
        <% }) %>
    </table>


<%- include('../layouts/footer'); %>
